#!/bin/bash

# Used this method to load tools as development was on a Compute Canada cluster.
# But it's not necessary to have modules anymore.
# Made by JRA 
# Last updated 2026-07-10


function loadModules {

	if ! command -v module &> /dev/null ; then # if module exists, load the modules
		return 0
	fi
	module load samtools
	module load bedtools
	module load kent_tools
	module load r/4.3.1
	module load bismark
}